.container{ 
display: flex; 
justify-content: center; 
align-items: center; 
gap: 10px; 
margin-top: 10px; 
} 
.container button{ 
border: None; 
outline: None; 
padding: 10px 15px ; 
border-radius: 4px; 
color: white; 
cursor: pointer; 
} 
button.minus{ 
background-color: blue; 
} 
button.plus{ 
background-color: brown; 
} 
button:disabled{ 
opacity: 0.5; 
}