# GHS Hostel Management System - Environment Configuration Template
SECRET_KEY=your_secret_key_here
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/pg_hostel_mess?retryWrites=true&w=majority
DATABASE_NAME=pg_hostel_mess

PORT=5000
STREAMLIT_SERVER_PORT=8501

ADMIN_EMAIL=admin@pghostelmess.com
ADMIN_PASSWORD=your_admin_password_here
WARDEN_EMAIL=warden@pghostelmess.com
WARDEN_PASSWORD=your_warden_password_here
PRINCIPAL_EMAIL=principal@pghostelmess.com
PRINCIPAL_PASSWORD=your_principal_password_here

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_app_password
GOOGLE_MAPS_EMBED_URL=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3824.238600865866!2d81.47450377484433!3d16.814467383979857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37e584f23e6fb3%3A0xe54e386eb027003f!2sSri%20Vasavi%20Engineering%20College!5e0!3m2!1sen!2sin!4v1711000000000!5m2!1sen!2sin
